{% import 'macros/filter_controls.html' as filters %}
{% set use_checkbox_filters = request.args.get('filter_style') == 'list' %}
<div id="filter-container" class="ml-4 flex flex-wrap gap-x-4 gap-y-2">
  {% for field in fields if request.args.get(field) is not none %}
    {% set meta = field_schema[table][field] %}
    {% set macro = filter_macro_map.get(meta.type, 'text_filter') %}
    {% if macro == 'select_filter' and use_checkbox_filters %}
      {% set macro = 'select_multi_filter' %}
    {% endif %}
    {% set params_map = {
      'boolean_filter': {
        'field': field,
        'value': request.args.get(field, '')
      },
      'multi_select_popover': {
        'field': field,
        'selected': request.args.getlist(field),
        'options': meta.options,
        'mode': request.args.get(field + '_mode', 'any')
      },
      'select_filter': {
        'field': field,
        'value': request.args.get(field, ''),
        'options': meta.options
      },
      'select_multi_filter': {
        'field': field,
        'selected': request.args.getlist(field),
        'options': meta.options
      },
      'number_filter': {
        'field': field,
        'min_val': request.args.get(field + '_min', ''),
        'max_val': request.args.get(field + '_max', '')
      },
      'date_filter': {
        'field': field,
        'start_val': request.args.get(field + '_start', ''),
        'end_val': request.args.get(field + '_end', '')
      },
      'text_filter': {
        'field': field,
        'value': request.args.get(field, ''),
        'operator': request.args.get(field + '_op', 'contains')
      }
    } %}
    {{ filters[macro](**params_map[macro]) }}
  {% endfor %}
</div>
