{% import 'macros/filter_controls.html' as filters %}
{% set use_checkbox_filters = request.args.get('filter_style') == 'list' %}
<div id="filter-container" class="ml-4 flex flex-wrap gap-x-4 gap-y-2">
  {% for field in fields if request.args.get(field) is not none %}
    {% set meta = field_schema[table][field] %}
    {% if meta.type == 'boolean' %}
      {{ filters.boolean_filter(field, request.args.get(field,'')) }}
    {% elif meta.type in ['multi_select','foreign_key'] %}
      {{ filters.multi_select_popover(field, request.args.getlist(field), meta.options, request.args.get(field + '_mode', 'any')) }}
    {% elif meta.type == 'select' %}
      {% if use_checkbox_filters %}
        {{ filters.select_multi_filter(field, request.args.getlist(field), meta.options) }}
      {% else %}
        {{ filters.select_filter(field, request.args.get(field,''), meta.options) }}
      {% endif %}
    {% elif meta.type == 'number' %}
      {{ filters.number_filter(field, request.args.get(field + '_min',''), request.args.get(field + '_max','')) }}
    {% elif meta.type == 'date' %}
      {{ filters.date_filter(field, request.args.get(field + '_start',''), request.args.get(field + '_end','')) }}
    {% else %}
      {{ filters.text_filter(field, request.args.get(field,''), request.args.get(field + '_op','contains')) }}
    {% endif %}
  {% endfor %}
</div>
