{% for record in records %}
<tr id="record-{{ record.id }}" class="odd:bg-white even:bg-gray-50 hover:bg-gray-100 cursor-pointer" onclick="window.location.href='/{{ table }}/{{ record.id }}'">
  <td class="px-2 py-2" data-static onclick="event.stopPropagation()">
    <input type="checkbox" class="row-select" value="{{ record.id }}">
  </td>
  {% for field in fields if not field.startswith('_') and field != 'edit_log' %}
    <td class="px-4 py-2 whitespace-nowrap" data-field="{{ field }}">
      {% if field_schema[table][field].type == "textarea" %}
        {{ record[field]|striptags|truncate(100) }}
      {% elif field_schema[table][field].type == "url" %}
        <a href="{{ record[field] }}" target="_blank" rel="noopener" onclick="event.stopPropagation()">{{ record[field] }}</a>
      {% else %}
        {{ record[field] }}
      {% endif %}
    </td>
  {% endfor %}
</tr>
{% endfor %}
