<!DOCTYPE html>
<html>
<head>
  <script src="https://cdn.tailwindcss.com"></script>
  <title>{% block title %}Crossbook{% endblock %}</title>
</head>
<body class="bg-white text-gray-900">
    <nav class="bg-gray-200 p-4 flex space-x-4">
        <a href="/" class="text-blue-600 font-semibold">Home</a>
        <a href="/content" class="text-blue-600">Content</a>
        <a href="/characters" class="text-blue-600">Characters</a>
        <a href="/things" class="text-blue-600">Things</a>
        <a href="/factions" class="text-blue-600">Factions</a>
        <a href="/locations" class="text-blue-600">Locations</a>
        <a href="/lore_topics" class="text-blue-600">Lore Topics</a>
      </nav>
  <div class="p-6">
    {% block content %}{% endblock %}
  </div>
</body>
</html>
