{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block nav_buttons %}
<a href="/import" class="btn-primary px-3 py-1 rounded">Import</a>
{% endblock %}

{% block header_actions %}
<a href="/admin" class="btn-secondary px-3 py-1 rounded">Admin</a>
{% endblock %}

{% block content %}
<h1 class="index-heading">{{ heading }}</h1>
<div id="card-grid" class="card-grid">
  <a href="/dashboard" class="card-link">
    <h2 class="text-2xl font-bold mb-2">Dashboard</h2>
    <p class="text-light">View overall summary and stats</p>
  </a>
  {% for card in cards %}
  <a href="/{{ card.table_name }}"
     class="card-link">
    <h2 class="text-2xl font-bold mb-2">{{ card.display_name }}</h2>
    <p class="text-light">{{ card.description }}</p>
  </a>
  {% endfor %}
  <a href="#" onclick="openAddTableModal()" class="card-link icon-card">
    <span class="icon-plus">+</span>
  </a>
</div>

<!-- Add Table Modal -->
{% include "modals/add_table_modal.html" %}

<script type="module" src="{{ url_for('static', filename='js/add_table.js') }}"></script>
{% endblock %}
